img{
  display: block;
  margin: auto;
}

img[src*='#Width30']{
  width: 30%;
}
img[src*='#Width40']{
  width: 40%;
}
img[src*='#Width50']{
  width: 50%;
}
img[src*='#Width60']{
  width: 60%;
}
img[src*='#Width70']{
  width: 70%;
}
img[src*='#Width80']{
  width: 80%;
  display: block;
  margin: auto;
}
img[src*='#Width90']{
  width: 90%;
}
img[src*='#Width100']{
  width: 100%;
} 