$ColorFondoMenu: #EBEBEB;
$ColorFuenteMenu: #818181;
$ColorFuenteMenuHover: #f1f1f1;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  width: 90%;
}

.page-content{
  float: left; 
  width: 80%; 
  padding: 15px 10px 15px 20px;
  line-height: 2;
}

.page-content ul{
  margin-left: 3em;
  margin-bottom: 1em;
}

.page-content p{
  margin: 1em 0em;
}

header{
  margin-top: 0.1em;
  position: sticky;
  top: 0;
  font-size: xx-large;
  text-align: center;
  color: gray;
  background-color: darkgray;
  text-shadow: 1px 1px 2px lightgray;
}

h1{
  color: darkgray;
  margin-top: 0.5em;
}

h2{
  color: gray;
  margin-top: 0.4em;
}

h3{
  margin-top: 0.25em;
  text-decoration: underline;
}

img{
  display: block;
  margin: 1em auto;
}

img[src*='#Width30']{
  width: 30%;
}
img[src*='#Width40']{
  width: 40%;
}
img[src*='#Width50']{
  width: 50%;
}
img[src*='#Width60']{
  width: 60%;
}
img[src*='#Width70']{
  width: 70%;
}
img[src*='#Width80']{
  width: 80%;
}
img[src*='#Width90']{
  width: 90%;
}
img[src*='#Width100']{
  width: 100%;
} 


/* The side navigation menu */
nav {
  margin-top: 3em;
  position: sticky;
  top: 2.5em;
  float: left; 
  width: 20%; 
  background: $ColorFondoMenu; 
  // padding: 15px 10px 15px 0px; 
}

nav ul{
  list-style: none;
}

/* The navigation menu links */
nav a {
  font-size: medium;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  color: $ColorFuenteMenu;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
nav a:hover {
  background-color: gray;
  color: $ColorFuenteMenuHover
}

	/* 
	Formato tablas 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
	}
	th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}


  //toottips
  .tooltip{
    font-size: 0.9em;
    font-style: italic;
    text-decoration: none;
    color: darkred;
    background:#ffc;
    display:block;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  }

  footer{
    color: $ColorFuenteMenu;
    font-size: 0.75em;
    padding: 1em;
    text-align: center;
  }