<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
</head>
<body>
    <nav>
        <ul class="nav-links">
            <li><a href="/" {% if page.title == "Home" %}class="active-page"{% endif %}>Inico</a></li>
            <li><a href="/01_Introduccion/" {% if page.title == "Introducción" %}class="active-page"{% endif %}>Introduccion</a></li>
            <li><a href="/02_SlotsDeExpansion/" {% if page.title == "Slots de Expansión" %}class="active-page"{% endif %}>Slots de Expansión</a></li>
            <li><a href="/03_TarjetasGraficas/" {% if page.title == "Tarjetas gráficas" %}class="active-page"{% endif %}>Tarjetas gráficas</a></li>
            <li><a href="/04_TarjetasDeRed/" {% if page.title == "Tarjetas de Red" %}class="active-page"{% endif %}>Tarjetas de Red</a></li>
            <li><a href="/05_TarjetaDeSonido/" {% if page.title == "Tarjetas de Sonido" %}class="active-page"{% endif %}>Tarjetas de Sonido</a></li>
            <li><a href="/06_TarjetasInterfaz/" {% if page.title == "Tarjetas de Interfaz" %}class="active-page"{% endif %}>Tarjetas de Interfaz</a></li>
            <li><a href="/07_TarjetasCapturadoraVideo/" {% if page.title == "Tarjetas Capturadoras de Video" %}class="active-page"{% endif %}>Tarjetas Capturadoras de Video</a></li>
        </ul>
    </nav>
    <header>
        <h1>
            {{ page.title }}
        </h1>
    </header>
    <main class="page-content">
        {{ content }}
    </main>
    <footer>
        <hr>
        Montaje y Mantenimiento de Equipos
        <br>
        <i>Sergio Rey</i>
    </footer>
</body>
</html>
